/* Mobile Sizing */
@media only screen and (max-width: 738px) {

  .container {
    max-width: 100%;
  }
  /* Header */
  .mobile {
    display: block;
  }

  nav.desktop, #logo {
    display: none;
  }
  
  nav.mobile,
  nav.mobile ul {
    width: 100%;
  }

  nav.mobile img {
    height: 2rem;
  }

  /* Banner */
  .billboard .container .banner {
    padding: 0;
    max-width: 100%;
  }

  .billboard .container .banner-container.flex-container {
    flex-direction: column;
  }

  .banner-text {
    max-width: 100%;
    padding: 2rem 1rem;
  }

  .banner-text h1 {
    margin: 0;
    margin-bottom: 2rem;
  }

  .banner-text h3 {
    margin: 0;
    margin-bottom: 1.5rem;
  }

  .banner-text a {
    margin: 0;
  }

  /* Campus */
  .campus .headline {
    display: none;
  }

  .campus .info {
    max-width: 100%;
    border-left: 0;
    margin: 0 auto;
    padding: 1rem 1rem 0 1rem;
  }

  .article.flex-container {
    flex-direction: column;
  }

  .article {
    align-items: flex-start;
    border-top: 0;
  }

  .campus .info .article:first-child {
    background-color: white;
    border-bottom: 0;
  }

  .campus .info .article:last-child {
    background-color: white;
    color: #01171F;
  }

  .campus .info .article:last-child a {
    color: #24A7E4;
  }

  .article {
    padding: 0;
  }

  .article-image img:first-child  {
    display: none;
  }

  .article-image {
    max-width: 100%;
    margin-right: 0;
  }
  
  .article-text {
    padding: 2rem 1rem;
  }

  /* Courses */
  #courses .container {
    width: 100%;
  }

  .learning {
    border-top: 1px solid #e8e8e8;
    padding: 2rem 1rem;
  }
  
  .learning h1 {
    margin-bottom: 2rem;
  }
  
  .courses {
    flex-direction: column;
    width: 100%;
  }

  .course {
    background-color: #e8e8e8;
    max-width: 100%;
    margin: 0;
    margin-bottom: 0.5rem;
  }

  .course:last-child {
    margin-bottom: 0;
  }

  .course-image {
    display: none;
  }

  .course-text {
    padding: 1rem;
  }

  .course-text span,
  .course-text p {
    display: none;
  }

  .course-text h2 {
    margin-bottom: 0;
  }

  /* Thesis */
  .thesis .info {
    display: none;
  }

  .thesis .headline {
    max-width: 100%;
    padding: 0;
  }

  .headline h2,
  .headline p {
    display: none;
  }

  .thesis-container {
    border-bottom: 0;
    border-top: 1px solid #e8e8e8;
  }

  /* Footer */
  footer div a {
    display: none;
  }
}
